h1,
h2,
h3,
h4,
h5,
p,
figure,
ol,
ul {
   margin: 0;
}

ol[role="list"],
ul[role="list"] {
   list-style: none;
   padding-inline: 0;
}

li {
   list-style-type: none;
}

h1,
h2,
h3,
h4,
h5 {
   font-size: inherit;
   font-weight: inherit;
}

button {
   cursor: pointer;
   font-family: inherit;
}

input {
   font-family: inherit;
}

img {
   display: block;
   max-inline-size: 100%;
}

:root {
   --light-color: #F5F5F7;
   --dark-color: #221F20;
   --container-padding-inline: 13%;
   --footer-padding-inline: 10%;
}

html {
   font-family: "Inter", sans-serif;
}

.container {
   padding: 0 var(--container-padding-inline);
}

.section-style {
   padding-top: 80px;
   background-color: var(--light-color);
}

.title {
   text-align: center;
   font-weight: 400;
   font-size: 40px;
   color: var(--dark-color, #221F20);
}

.promo {
   position: relative;
   min-height: 100vh;
   background: url('../img/main_bg.jpg') center center / cover no-repeat;
   padding-top: 75px;
}

.promo__title {
   font-weight: 400;
   font-size: 60px;
   text-transform: uppercase;
   color: var(--light-color, #F5F5F7);
}

.promo__subtitle {
   margin-top: 124px;
   font-weight: 100;
   font-size: 32px;
   color: var(--light-color, #F5F5F7);

}

.btn {
   display: flex;
   justify-content: center;
   align-items: center;
   text-decoration: none;
   margin-top: 20px;
   padding: 0 10px;
   width: 160px;
   min-height: 38px;
   border: 1px solid var(--light-color, #F5F5F7);
   background: rgba(217, 217, 217, 0);
   font-weight: 100;
   font-size: 16px;
   color: var(--light-color, #F5F5F7);
}

.promo__address {
   margin-top: 100px;
   font-weight: 100;
   font-size: 16px;
   color: var(--light-color, #F5F5F7);

   address {
      font-style: normal;
   }

   a {
      color: inherit;
      text-decoration: none;
   }
}

.keywords {
   display: flex;
   justify-content: space-between;
   align-items: center;
   position: absolute;
   bottom: 0;
   width: 100%;
   height: 20px;
   padding: 0 360px;
   background: linear-gradient(180deg, rgba(255, 255, 255, 0.04) 0%, rgba(255, 255, 255, 0.12) 50%, rgba(255, 255, 255, 0.2) 100%);

   li {
      font-weight: 100;
      font-size: 10px;
      color: var(--light-color, #F5F5F7);
   }
}

.about__title {
   font-style: italic;
   font-weight: 400;
   font-size: 12px;
   color: var(--dark-color, #221F20);
}

.about__info {
   width: 1100px;
   margin-top: 20px;
   font-weight: 400;
   font-size: 40px;
   color: var(--dark-color, #221F20);

   span {
      color: #a5a5a5;
   }
}

.services {
   margin-top: 80px;
   column-gap: 30px;
   display: flex;
}

.services__items {
   width: 50%;

   ul {
      padding-left: 0;
      margin-top: 20px;

      li {
         margin-top: 10px;
         font-weight: 400;
         font-size: 16px;
         color: var(--dark-color, #221F20);
      }
   }


}

.services__items-subtitle {
   font-style: italic;
   font-weight: 400;
   font-size: 16px;
   color: var(--dark-color, #221F20);
}

.services__text {
   width: 50%;
   font-weight: 400;
   font-size: 20px;
   letter-spacing: 0.02em;
   color: var(--dark-color, #221F20);
}

.works__grid {
   margin-top: 50px;
   display: grid;
   grid-template: repeat(2, 1fr) 1.5fr / repeat(2, 1fr);
   gap: 50px 30px;

   img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.25);
   }

}

.inspiration__grid {
   margin-top: 53px;
   display: grid;
   gap: 30px;
   grid-template: repeat(2, 1fr) / repeat(4, 1fr);

   img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.25);
   }
}

.inspiration__grid-item--tenement {
   grid-row: 1 / 3;
   grid-column: 4;
}

.inspiration__grid-item--sky {
   grid-column: 2 / 4;
   grid-row: 2;
}